<% content_for :title do %>
    <%=@list.title%>○連ガチャ
<% end %>


<div class="gacha_box" style=<%="background:#{@list.color};"%>>
    <div class=page style=<%="border-color:#{@list.color};"%>>
        <%= form_with url:list_gacha_default_create_path(@list), method: :post do |f|%>
            <div class = "heading" style=<%="border-bottom-color:#{@list.color};"%>>
                <h1 style=<%="color:#{@list.text_color};"%>><%= @list.title %></h1>
                <h1 style=<%="color:#{@list.text_color};"%>><%= f.text_field :time, class: 'gacha_input_box', placeholder: '10' %>連ガチャ</h1>
            </div>
            <div class = "buttonarea">
                <%= f.submit "ガチャを回す", class: 'gacha_btn', style:"background:#{@list.color}CC;border-bottom-color:#{@list.color};" %>
            </div>
            <div class="result">
            </div>
        <% end %>
    </div>

    <div class=page style=<%="border-color:#{@list.color};"%>>
        <div class="container">
            <div class="row">
                <%= link_to "ガチャ詳細", list_path(@list), class: "btn btn-outline-primary col-xs-12 col-md-6"%>
                <%= link_to "他のガチャを探す", root_path, class: "btn btn-outline-primary col-xs-12 col-md-6"%>
                <% if @list.ready_to_turn_price_gacha? %>
                    <%= link_to "〇円ガチャへ", list_gacha_price_path(@list), class: "btn btn-outline-primary col-xs-12 col-md-6"%>
                <% end %>
                <% if @list.ready_to_turn_calorie_gacha? %>
                    <%= link_to "〇kcalガチャへ", list_gacha_calorie_path(@list), class: "btn btn-outline-primary col-xs-12 col-md-6"%>
                <% end %>
            </div>
        </div>
    </div>
</div>
