<% content_for :title do %>
    <%=@list.title%>○円ガチャ
<% end %>


<div class="gacha_box">
    <div class=page>
        <%= form_with url:list_gacha_price_create_path(@list), method: :post do |f|%>
            <div class = "heading">
                <h1><%= @list.title %></h1>
                <h1><%= f.text_field :price, class: 'gacha_input_box', placeholder: '1000' %>円ガチャ</h1>
            </div>
            <div class = "buttonarea">
                <%= f.submit "ガチャを回す", class: 'gacha_btn'%>
            </div>
            <div class="result">
            </div>
        <% end %>
    </div>

    <div class=page>
        <div class="container">
            <div class="row">
                <%= link_to "ガチャ詳細", list_path(@list), class: "btn btn-outline-primary col-xs-12 col-md-6"%>
                <%= link_to "他のガチャを探す", root_path, class: "btn btn-outline-primary col-xs-12 col-md-6"%>
                <% if @list.ready_to_turn_default_gacha? %>
                    <%= link_to "〇連ガチャへ", list_gacha_default_path(@list), class: "btn btn-outline-primary col-xs-12 col-md-6"%>
                <% end %>
                <% if @list.ready_to_turn_calorie_gacha? %>
                    <%= link_to "〇kcalガチャへ", list_gacha_calorie_path(@list), class: "btn btn-outline-primary col-xs-12 col-md-6"%>
                <% end %>
            </div>
        </div>
    </div>
</div>


