<table class="table">
<thead>
<tr>
    <td>作成者</td>
    <td>リスト</td>
    <td>通常ガチャ</td>
    <td>値段ガチャ</td>
    <td>カロリーガチャ</td>
    <td>作成日</td>
    <td>閲覧数</td>
    <td>詳細</td>
</tr>
</thead>
<tbody>
<% lists.each do |list|%>
<tr>
    <td>
        <%= link_to end_user_path(list.end_user) do%>
            <%= attachment_image_tag(list.end_user, :profile_image, size:'20x20', fallback: "no_image.jpg") %>
            <%= list.end_user.name %>
        <% end %>
    </td>
    <td><%= list.title %></td>
    <td>
      <% if list.ready_to_turn_default_gacha? %>
        <%= link_to list_gacha_default_path(list) do%>
          <span class="far fa-circle"></span>
        <% end %>
      <% else %>
        <span class="fa fa-times"></span>
      <% end %>
    </td>
    <td>
      <% if list.ready_to_turn_price_gacha? %>
          <%= link_to list_gacha_price_path(list) do%>
              <span class="far fa-circle"></span>
          <% end %>
      <% else %>
        <span class="fa fa-times"></span>
      <% end %>
    </td>
    <td>
      <% if list.ready_to_turn_calorie_gacha? %>
          <%= link_to list_gacha_calorie_path(list) do%>
              <span class="far fa-circle"></span>
          <% end %>
      <% else %>
        <span class="fa fa-times"></span>
      <% end %>
    </td>
    <td><%= list.created_at.to_s(:datetime_jp) %></td>
    <td><%= list.view_counter %></td>
    <td><%= link_to "詳細", list_path(list) %></td>
    
</tr>

<% end %>
</tbody>
</table>