<% lists.each do |list|%>
  <div class="col-md-10 offset-md-1 col-12 border p-3 mt-4">
    <h3 class="list_name mt-1"><%=list.title%></h3>
    <p class="mt-1"><%=list.introduction%></p>
    <div class="d-flex mt-4">
      <% if list.ready_to_turn_default_gacha? %>
        <%= link_to list_gacha_default_path(list) do%>
          <font size="3" color="#0000ff" class="blue-tag mr-3 mr-lg-5">○連</font>
        <% end %>
      <% else %>
        <font size="3" color="#0000ff" class="black-tag mr-3 mr-lg-5">○連</font>
      <% end %>
      <% if list.ready_to_turn_price_gacha? %>
        <%= link_to list_gacha_price_path(list) do%>
          <font size="3" color="#0000ff" class="blue-tag mr-3 mr-lg-5">○円</font>
        <% end %>
      <% else %>
        <font size="3" color="#0000ff" class="black-tag mr-3 mr-lg-5">○円</font>
      <% end %>
      <% if list.ready_to_turn_calorie_gacha? %>
        <%= link_to list_gacha_calorie_path(list) do%>
          <font size="3" color="#0000ff" class="blue-tag mr-3 mr-lg-5">○kcal</font>
        <% end %>
      <% else %>
        <font size="3" color="#0000ff" class="black-tag mr-3 mr-lg-5">○kcal</font>
      <% end %>
      <%= link_to list_path(list) do%>
        <font size="3" color="#0000ff" class="blue-tag mr-3 mr-lg-5">詳細</font>
      <% end %>
    </div>
    <div class="d-flex pt-3">
      <div class="pr-4 pt-3">
        <h4 class="green-tag">作成ユーザ</h4>
        <span><%= link_to list.end_user.name, end_user_path(list.end_user) %></span>
      </div>
      <div class="pr-4 pt-3">
        <h4 class="green-tag">作成日時</h4>
        <span><%= list.created_at.to_s(:datetime_jp) %></span>
      </div>
    </div>
  </div>
<% end %>
