<!DOCTYPE html>
<html>
  <head>
    <title>Admin_Cheapthread</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/a3ed360f29.js" crossorigin="anonymous"></script>
   
  </head>

  <body>

    <%= render 'layouts/admin_header'%>

    <p id="notice"><%= notice %></p>
    
    <%= yield %>
  </body>
</html>